{% extends "bootstrap/base.html" %}
{% block title %}
{{super()}}
Custommer Service
{% endblock %}

{% block metas %}
{{super()}}
<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
{% endblock %}
{% block html_attribs %} lang="en"{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
<link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css'>
<style>
.data{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding:50px 50px;
}
.bold-blue {
	font-weight: bold;
	color: #0277BD;
}
select, input{
  border: 2px groove;
}
#submit-02{
    padding: 5px 5px;
}
</style>
{% endblock %}
{%block content%}
<body translate="no">
    <div class="container">
    <h1 style="text-align: center" id= "title">Bootstrap Table </h1>
    <div id="toolbar">
    <select class="form-control" style="height: 20%; text-align: center;" >
    <option value="">Export Basic</option>
    <option value="all">Export All</option>
    <option value="selected">Export Selected</option>
    </select>
    </div>
  <div class="data" id="mydata" style="padding: 10px 10px ; width: 100%; margin-top: 5%">
    <table id="DyanmicTable" class="mytable" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar"  data-page-size="10" data-pagination="true" data-page-list="[10, 20, 50, 100, ALL]">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-sortable="true">Datetime</th>
          <th>Autodiler</th>
          <th>Autodiler_RS</th>
          <th>Inbound</th>
          <th>Manual</th>
          <th>Amount Record Genesys</th>
          <th>Storage Record Genesys</th>
          <th data-field="status" data-filter-control="select" data-sortable="true">Status Log</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows_genesys[::-1] %}
          <tr class="items">
            <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
            <td>{{row["datetime"]}}</td>
            <td>{{row["autodiler"]}}</td>
            <td>{{row["autodiler_rs"]}}</td>
            <td>{{row["inbound"]}}</td>
            <td>{{row["manual"]}}</td>
            <td>{{row["record_amount_genesys"]}}</td>
            <td>{{row["storage_record_genesys"]}}</td>
            <td>{{row['status_log']}}</td>
            <td>{{row['Note']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
<script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script id="rendered-js">
    //exporte les données sélectionnées
var $table = $('#table');
$(function () {
$('#toolbar').find('select').change(function () {
  $table.bootstrapTable('refreshOptions', {
    exportDataType: $(this).val() });
});
});

var trBoldBlue = $("table");
$(trBoldBlue).on("click", "tr", function () {
$(this).toggleClass("bold-blue");
});
    //# sourceURL=pen.js
</script>
<script>
    window.console = window.console || function(t) {};
</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
</script>
<script>
  var obj=document.getElementById("title");
  obj.innerHTML=("Report");
</script>
<script>
  $(function(){
  //if we use id we need $('#some-name'): or class $('.some-name'):
    $(document).on('click', '.fa-edit', function(){
      var _tr = $(this).closest('tr');
      var _datetime = $(_tr).find('td:eq(1)').text();
      var _tttn = $(_tr).find('td:eq(2)').text();
      var _shđ = $(_tr).find('td:eq(3)').text();
      var _tkh = $(_tr).find('td:eq(4)').text();
      var _cmnd = $(_tr).find('td:eq(5)').text();
      var _tttnkh = $(_tr).find('td:eq(6)').text();
      var _sreenshot = $(_tr).find('td:eq(7)').text();
      var _status = $(_tr).find('td:eq(8)').text();
      var _csteam = $(_tr).find('td:eq(9)').text();
      var _comment = $(_tr).find('td:eq(10)').text();
      var _commentpayment = $(_tr).find('td:eq(11)').text();
      $('input[name="Datetime"]').val(_datetime);
      $('select[name="TTTN"]').val(_tttn);
      $('input[name="SHĐ"]').val(_shđ);
      $('input[name="TKH"]').val(_tkh);
      $('input[name="CMND"]').val(_cmnd);
      $('select[name="Status"]').val(_status);
      $('select[name="CS_Team"]').val(_csteam);
      $('input[name="Sreenshot"]').val(_sreenshot);
      $('textarea[name="TTTNKH"]').val(_tttnkh);
      $('textarea[name="Comment"]').val(_comment);
      $('textarea[name="Comment_Payment"]').val(_commentpayment);
    });
  });
</script>
<script>
    $(function(){
      $(document).on('click', '.link-pic', function(){
        var _tr = $(this).closest('tr');
        var _sreenshot = $(_tr).find('td:eq(7)').text();
        window.open(_sreenshot, "_blank");
      });
    });
</script>
{% endblock %}
